/* --------- Global style */

body {
    background-color: white;
    font-family: 'Play', sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: left;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}